<resources xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://developer.garmin.com/downloads/connect-iq/resources.xsd">
    <menu2 id="LengthMenu" title="@Strings.MenuLengthTitle">
        <menu-item id="length_10" label="@Strings.Length10" />
        <menu-item id="length_20" label="@Strings.Length20" />
        <menu-item id="length_30" label="@Strings.Length30" />
    </menu2>

    <menu2 id="IntensityMenu" title="@Strings.MenuIntensityTitle">
        <menu-item id="intensity_easy" label="@Strings.IntensityEasy" />
        <menu-item id="intensity_medium" label="@Strings.IntensityMedium" />
        <menu-item id="intensity_hard" label="@Strings.IntensityHard" />
    </menu2>
</resources>
